/**
    CSS
**/
 body, html {
    margin: 0;
    background-color: #222;
    color: #FFF;
}
body:selected, html:selected, :root:selected, *:selected {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
}
@font-face {
    font-family:'hacked';
    src: url('HACKED.ttf');
}
@font-face {
    font-family:'mono';
    src: url('mono.ttf');
}
@font-face {
    font-family:'icons';
    src: url('icons.ttf');
}
h2 {
    font-family:'hacked';
    color: #FFF;
    font-weight: lighter;
    width: 50%;
    padding: 5px;
    cursor: pointer;
    border-bottom: solid 2px transparent;
    user-select: none;
}
h2:hover {
    border-color: #FFF;
}
h3 {
    border-bottom: solid 2px #FFF;
    color: #FFF;
    width: 50%;
}
.invert {
    color: #000;
    background: #FFF;
    padding: 3px;
}
#titlebar {
    color: #FFF;
    font-family:'hacked';
    font-size: 20pt;
    padding: 15px;
    position: fixed;
    width: calc(100% - 30px);
    background-color: #555;
    box-shadow: 0 0 5px #000;
    margin-bottom: 30px;
    user-select: none;
}
#content {
    display: block;
    padding: 50px;
    padding-top: 60px;
    width: calc(100% - 100px);
    color: #FFF;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    height: 83vh;
}
#showcase {
    height: 100vh;
    width: calc(100% - 300px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
    pointer-events: none;
}
a {
    color: #FFF;
}
.list > a {
    color: #FFF;
    display: block;
    padding: 3px;
    font-family:'Ubuntu', arial;
    font-weight: lighter;
    text-decoration: none;
    user-select: none;
    max-width: 50%;
    padding-left: 5px;
    /* border-left: solid 1px #FFF; */
}
a:hover {
    text-decoration: underline;
}
/*
a:after {
    content: "";
    margin-left: 15px;
    background-image: url('link.png');
    background-size: 12pt 12pt;
    width: 12pt;
    height: 12pt;
    display: inline-block;
    float: right;
}
*/
 #author {
    font-family:'hacked';
    font-size: 30pt;
    height: 40px;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    color: #FFF;
    background: transparent;
    user-select: none;
    text-shadow: 0 0 15px #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list {
    color: #FFF;
    padding: 10px;
    padding-left: 50px;
}
.copyLink {
    color: #FFF;
}
.feedback {
    color: #AAA;
    display: block;
    padding: 3px;
    font-family:'Ubuntu', arial;
    font-weight: lighter;
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
    padding-left: 5px;
    /* border-left: solid 1px #FFF; */
}
#sharing {
    position: fixed;
    left: 0;
    bottom: 0;
    color: #000;
    font-size: 10pt;
    text-shadow: 0 0 5px #000;
    background: inherit;
    font-family:'Ubuntu', arial;
}
.message {
    display: block;
    color: #FFF;
    font-size: 10pt;
    padding: 5px;
}
.message:nth-child(even) {
    background: #3F3F3F;
}
#colorChangeOpt {
    display: none;
}
#chat {
    height: calc(100% - 90px);
    padding-bottom: 30px;
    width: 300px;
    background: #333;
    position: fixed;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family:'Ubuntu', arial;
}
.msgName {
    font-size: 10pt;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: left;
    justify-content: center;
    max-width: 290px;
    overflow: hidden;
    white-space: nowrap;
}
.msgBody {
    font-size: 10pt;
    display: inline;
    color: #DDD;
    word-wrap: break-word;
    max-width: 200px;
}
.msgBody:first-letter {
    text-transform: uppercase;
}
b {
    font-weight: bolder;
}
iframe {
    width: 290px;
    height: 290px;
    border: none;
    display: block;
}
.mejpg {
    max-width: 290px;
    display: inline-block;
}
#loading {
    height: 100%;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes flash {
    0% {
        filter: invert(0%);
    }
    50% {
        filter: invert(100%);
    }
    100% {
        filter: invert(0%);
    }
}
@keyframes blink {
    0% {
        background: rgba(255, 230, 0, 0.5);
    }
    50% {
        background: rgba(255, 230, 0, 0.1);
    }
    100% {
        background: rgba(255, 230, 0, 0.5);
    }
}
@keyframes update {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes down {
    0% {
        color: #F00;
    }
    50% {
        color: transparent;
    }
    100% {
        color: #F00;
    }
}
.update {
    color: #0F0;
    animation: 750ms linear 0s infinite update;
    display: inline-block;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    margin-left: 15px;
}
.updated {
    color: #0F0;
    display: inline-block;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    margin-left: 15px;
}
#spinner {
    width: 50px;
    height: 50px;
    border: solid 3px #777;
    /* border-style: outset outset outset inset; */
    border-color: transparent transparent transparent rgba(200, 200, 200, .5);
    border-radius: 50%;
    animation: .5s cubic-bezier(0.15, 0.15, 0.3, 0.3) 0s infinite spin;
}
.time {
    font-size: 7pt;
    color: #999;
    display: block;
}
.emoji {
    display: inline-block;
    max-height: 12pt;
    min-height: 12pt;
    transition: all .5s linear;
    cursor: zoom-in;
}
.emoji:hover {
    max-height: 50px;
    min-height: 50px;
}
.emojiIco {
    display: inline;
    max-height: 12pt;
    min-height: 12pt;
    cursor: pointer;
    margin: 2.5px;
    padding: 2.5px;
    transition: all .25s linear;
}
.emojiIco:hover {
    background-color: #DDD;
    min-height: 17pt;
    max-height: 17pt;
}
.tag {
    background: rgba(255, 230, 0, .3);
    transition: background 250ms ease;
    border-radius: 5px;
    padding: 1px;
    animation: 1s linear 0s infinite blink;
}
.log {
    height: 300px;
    width: 290px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    font-family:'mono';
    font-size: 7pt;
    background: rgba(10, 10, 10, .5);
    color: #FFF !important;
}
.logged > * {
    color: #FFF !important;
}
.log > .logged:hover {
    background: #555;
}
.logged > .tag {
    background-color: transparent !important;
}
.logged > img {
    display: none;
}
.msgBody > embed {
    cursor: default !important;
}
.ico {
    display: inline-block;
    min-width: 10pt;
    min-height: 10pt;
    max-width: 10pt;
    max-height: 10pt;
    margin-right: 5px;
    border-radius: 50%;
    background-image: url('verified.png');
    background-size: 100% 100%;
}
.private {
    color: #999;
    cursor: default;
}
.mod {
    background-color: orange;
}
.restricted {
    background-color: black;
}
.owner {
    /* background: linear-gradient(90deg, red, orange, yellow, green, blue, violet); */
    background: purple;
}
.owner:after {
    pointer-events: none;
    display: block;
    content:' ';
    width: 10pt;
    height: 10pt;
    margin-right: 5px;
    border-radius: 50%;
    background-image: url('verified.png');
    background-size: 100% 100%;
}
.bot {
    background-color: green;
}
.vip {
    background-color: red;
}
.hyper_mod {
    background-color: blue;
}
.special_badge {
    background-color: yellow;
}
.content {
    display: block;
    max-width: 290px;
}
.motd {
    max-width: 290px;
    height: auto;
}
.gameName {
    color: #AAA;
}
.gameError {
    width: 290px;
    background: rgba(0, 0, 0, 0.7);
    height: 125px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.gameSelect {
    background: inherit;
    outline: none;
    border: solid 1px #FFF;
    border-radius: 5px;
    color: #FFF;
    padding: 3px;
}
.gameSelect > option {
    border: none;
    outline: none;
    background: #333;
}
#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: 100vh;
}
.hint {
    color: #999;
    display: block;
    font-size: 10pt;
}
.contextOption {
    background: #FFF;
    color: #333;
    font-size: 10pt;
    cursor: pointer;
    padding: 10px;
    overflow: hidden;
    width: 125px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    white-space: nowrap;
    user-select: none;
}
.contextOption:last-child {
    border-radius: 0 0 5px 5px;
}
.contextOption:first-child {
    border-radius: 5px 5px 0 0;
}
.contextOption:hover {
    background: #DFDFDF;
    color: #333;
}
kbd {
    min-width: 50px;
    min-height: 50px;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
    margin-right: 1px;
    margin-left: 1px;
    box-shadow: 0 0 1px #999;
    background: #2f2f2f;
    letter-spacing: 0;
    cursor: default;
}
.unavailable:hover {
    background: #FFF !important;
    cursor: default !important;
}
#views {
    position: fixed;
    right: 300px;
    bottom: 0;
    color: #FFF;
    font-size: 10pt;
    padding-right: 5px;
    font-family:'Ubuntu', arial;
}
.lineOfSocial {
    display: flex;
    align-items: center;
    justify-content: left;
}
.socialIcon {
    height: 15pt;
    width: 15pt;
    margin: 3px;
    cursor: default !important;
}
.priv {
    color: #F00;
}
#linkProfileBtn {
    outline: none;
    color: #FFF;
    background: transparent;
    position: fixed;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    margin: 10px;
    border: none;
    cursor: pointer;
    background-image: url('link-profile.png');
    background-size: 100% 100%;
    filter: invert(100%);
}
.spoiler {
    background: #000;
    color: #000;
    display: inline;
    padding-left: 2px;
    padding-right: 2px;
    user-select: none;
}
.spoiler:hover {
    color: #FFF;
    cursor: url(eye.png), pointer;
}
#onlineCount {
    position: fixed;
    right: 300px;
    bottom: 10pt;
    color: #FFF;
    font-size: 10pt;
    padding-right: 5px;
    padding-bottom: 5px;
    font-family:'Ubuntu', arial;
}
.menuLabel {
    text-align: center;
    width: calc(100% - 10px);
    padding: 5px;
    background: rgba(0, 0, 0, 0.3);
    color: #FFF;
    font-size: 10pt;
    cursor: default;
    font-family: arial;
}
.menuItem {
    width: calc(100% - 35px);
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px;
    padding-left: 20px;
    background: transparent;
    color: #AAA;
    font-family: arial;
}
.menuItem:active {
    background: rgba(255, 255, 255, 0.1);
}
.disabledItem:active {
    background: transparent !important;
}
#sheild {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
}
.rainbow {
    width: auto;
    background: -webkit-linear-gradient(90deg, red, orange, yellow, green, blue, violet) !important;
    background: -moz-linear-gradient(90deg, red, orange, yellow, green, blue, violet) !important;
    background: -ms-linear-gradient(90deg, red, orange, yellow, green, blue, violet) !important;
    background: -o-linear-gradient(90deg, red, orange, yellow, green, blue, violet) !important;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, violet) !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}
.makeRainbowAlt {
    background: -webkit-linear-gradient(90deg, red, orange, yellow, green, blue, violet) !important;
    background: -moz-linear-gradient(90deg, red, orange, yellow, green, blue, violet) !important;
    background: -ms-linear-gradient(90deg, red, orange, yellow, green, blue, violet) !important;
    background: -o-linear-gradient(90deg, red, orange, yellow, green, blue, violet) !important;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, violet) !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}
.platinum {
    background: -webkit-linear-gradient(90deg, #FFF, #AAA, #DDD, #FFF, #DDD, #AAA) !important;
    background: -moz-linear-gradient(90deg, #FFF, #AAA, #DDD, #FFF, #DDD, #AAA) !important;
    background: -ms-linear-gradient(90deg, #FFF, #AAA, #DDD, #FFF, #DDD, #AAA) !important;
    background: -o-linear-gradient(90deg, #FFF, #AAA, #DDD, #FFF, #DDD, #AAA) !important;
    background: linear-gradient(90deg, #FFF, #AAA, #DDD, #FFF, #DDD, #AAA) !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}
.purple {
    background: -webkit-linear-gradient(90deg, #A0A, #F0F, #FAF, #F0F, #A0A) !important;
    background: -moz-linear-gradient(90deg, #A0A, #F0F, #FAF, #F0F, #A0A) !important;
    background: -ms-linear-gradient(90deg, #A0A, #F0F, #FAF, #F0F, #A0A) !important;
    background: -o-linear-gradient(90deg, #A0A, #F0F, #FAF, #F0F, #A0A) !important;
    background: linear-gradient(90deg, #A0A, #F0F, #FAF, #F0F, #A0A) !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}
.applyGold {
    background: -webkit-linear-gradient(90deg, #FA0, #FD5, #FFA, #FD5, #FA0) !important;
    background: -moz-linear-gradient(90deg, #FA0, #FD5, #FFA, #FD5, #FA0) !important;
    background: -ms-linear-gradient(90deg, #FA0, #FD5, #FFA, #FD5, #FA0) !important;
    background: -o-linear-gradient(90deg, #FA0, #FD5, #FFA, #FD5, #FA0) !important;
    background: linear-gradient(90deg, #FA0, #FD5, #FFA, #FD5, #FA0) !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}
.gold {
    width: auto;
    background: -webkit-linear-gradient(90deg, gold, orange) !important;
    background: -moz-linear-gradient(90deg, gold, orange) !important;
    background: -ms-linear-gradient(90deg, gold, orange) !important;
    background: -o-linear-gradient(90deg, gold, orange) !important;
    background: linear-gradient(90deg, gold, orange) !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}
.modtext {
    color: #0EF;
}
.pm {
    color: #F00;
    animation: 1000ms linear 0s infinite update;
    display: inline-block;
}
.reply {
    opacity: 0.55;
    font-style: italic;
    cursor: pointer;
}
.alias {
    margin-left: 25px;
}
.supreme {
    color: #FFF;
    font-weight: bolder;
    background: #F00;
    font-style: italic;
    padding: 0;
}
#advertisements {
    color: inherit;
    position: fixed;
    right: 310px;
    top: 70px;
    height: calc(100% - 70px);
    width: 300px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}
#advertisements > hr {
    width: 80%;
    border: none;
    outline: none;
    height: 1px;
    background: #FFF;
}
.ad {
    float: left;
    width: auto;
    text-align: center;
    padding: 5px;
}
.ad > img {
    cursor: pointer !important;
}
.listedUser {
    display: block;
    padding: 5px;
    width: 300px;
}
.listedUser:nth-child(odd) {
    background: rgba(255, 255, 255, 0.1);
}
.leafy {
    display: none;
    height: 0;
    width: 0;
    overflow: hidden;
}
#names {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    position: fixed;
    right: 25px;
    bottom: 0;
    z-index: 9999;
    background: transparent;
    cursor: pointer;
    color: #000;
    font-weight: bolder;
    font-size: 13pt;
    -moz-appearance: none;
    -webkit-appearance:none;
    overflow: hidden;
}
#names > option {
    display: inline;
    padding: 5px;
    font-size: 10pt;
    font-weight: normal;
    background: #555;
}
#select_song {
    display: block;
    width: 100%;
    background: #333;
    color: #FFF;
    border: solid 1px #FFF;
    outline: none;
    border-radius: 3px;
    padding: 3px;
}
#current_song {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 10pt;
    font-weight: bold;
    color: inherit;
    text-align: center;
}
#audio_ctrls {
    text-align: center;
}
#audio_ctrls > * {
    color: inherit;
    margin-left: 5px;
    margin-right: 5px;
    user-select: none;
    cursor: pointer;
}
#add_music {
    color: inherit;
    text-decoration: none;
    font-size: 13pt;
}
#public_player_notice {
    font-size: 7pt;
    color: #AAA;
    font-style: italic;
    margin: 5px;
    text-align: center;
}
#disclaimer_title {
    font-size: 10pt;
    padding: 3px;
    cursor: pointer;
    margin-bottom: 5px;
    color: inherit;
}
#disclaimer {
    font-size: 8pt;
    color: inherit;
}
#ctrl_themes > a {
    text-align: center;
    display: inline-block;
    width: calc(45% - 10px);
    color: #FFF;
    background: #555;
    font-size: 12pt;
    text-decoration: none;
    margin: 5px;
}
#ctrl_themes > a:hover {
    filter: brightness(75%);
}
#dur {
    display: block;
    background: #FFF;
    background: rgba(200, 200, 200, 0.5);
    height: 5pt;
    margin-bottom: 10px;
    text-align: left;
    border-radius: 5pt;
    overflow: hidden;
    padding: 0;
}
#progress {
    float: left;
    height: 5pt;
    width: 0;
    display: inline-block;
    margin: 0;
    background: #000;
    border-radius: 0
    /* 5pt 5px 0 */
    ;
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox] + label:after {
    content: 'OFF';
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10pt;
    height: 10pt;
    font-weight: lighter;
    color: #FF7F7F;
    font-weight: normal;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}
input[type=checkbox]:checked + label:after {
    content: 'ON';
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10pt;
    height: 10pt;
    font-weight: lighter;
    color: #7FFF7F;
    font-weight: normal;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}
#checkbox {
    width: 100%;
    table-layout: fixed;
    font-size: 10pt;
}
td:nth-child(odd) {
    text-align: left;
}
td:nth-child(even) {
    text-align: right;
}
.news_date {
  font-size: 8pt;
  color: #AAA;
  text-align: left;
  margin: 0;
  line-height: 8pt;
}
.news_info {
  font-size: 10pt;
  color: inherit;
  text-align: left;
  margin: 0;
}
#news {
  text-align: left;
  max-height: 50px;
}
.article {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
#image  {
  display: none;
}
#image + label {
    content: '';
    height: 20px;
    width: 20px;
    position: fixed;
    right: 30px;
    bottom: 5px;
    z-index: 500;
    background-image: url('camera.png');
    background-size: 100% 100%;
    cursor: pointer;
}
